# macOS / OSX System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
Icon
Network Trash Folder
Temporary Items
.AppleDB

# Windows
Thumbs.db
ehthumbs.db

# Editor / backups
*.bak
*.tmp
*.autosave
*~
*.swp
*.swo

# Builds temporales
builds/otf/proof/_temp/
builds/specimens/_temp/

# Glyphs (si aplica)
*.glyphs~
*.glyphspackage.zip
*.glyphspreview

# UFO / designspace (si aplica)
*.ufozip
*.designspace.lock

# Logs
*.log

# Local design archives / backups
archive/

# Local internal guides
workflow_interno.md
